Innovation/architecture_definition_schema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="architecture">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="layer" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:unsignedByte" minOccurs="1" maxOccurs="1" />
                            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="softwareUnit" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="exceptions" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="unit" type="xs:string" minOccurs="1" maxOccurs="1" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="appliedRule" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ruleType" type="xs:string" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="toLayer" type="xs:unsignedByte" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="exceptions" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="unit" type="xs:string" minOccurs="1" maxOccurs="1" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
