Innovation/architecture_definition_schema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="configuration">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="architecture" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="layer" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:unsignedByte" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="interfaceAccessOnly" type="xs:boolean" minOccurs="1" maxOccurs="1" />
                                        <xs:element name="softwareUnit" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
                                                    <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" />
                                                    <xs:element name="exception" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
                                                                <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="appliedRule" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ruleType" type="xs:string" minOccurs="1" maxOccurs="1" />
                                                    <xs:element name="toLayer" type="xs:unsignedByte" minOccurs="1" maxOccurs="1" />
                                                    <xs:element name="exception" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
                                                                <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="optional" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="paths" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="project" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="output" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="format" type="xs:string" use="optional" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
